@use "../helpers/" as *;

.btn {
  position: relative;
  display: block;
  color: $main-color;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
  max-width: max-content;
  font-weight: 900;
  border: 2px solid $main-color;
  padding: 12px 45px;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  &.btn-primary {
    background-color: transparent;
  }
  &.btn-secondary {
    background-color: $main-color;
    color: $section-color;
    &:before {
      background-color: $section-color;
    }
    & .text-2 {
      color: white;
    }
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%);
    width: 200%;
    height: 200%;
    border-radius: 50%;
    background-color: $main-color;
    transition: 0.3s;
    z-index: -1;
  }
  & .text {
    transition: 0.3s;
  }
  & .text-2 {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    min-width: max-content;
    color: $section-color;
  }
  &:is(:hover, :focus-visible):before {
    bottom: -50%;
  }
  &:is(:hover, :focus-visible) .text-1 {
    transform: translateY(-40px);
  }
  &:is(:hover, :focus-visible) .text-2 {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
