@use "../helpers/" as *;

.heading {
  color: $main-color;
  font-size: 12px;
  letter-spacing: 5px;
  font-weight: 900;
  position: relative;
  text-align: center;
  & p {
    margin-bottom: 25px;
  }
  & h2 {
    font-size: 52px;
    font-family: $special-font;
    font-weight: 500;
    color: white;
    @include mobile {
      font-size: 30px;
    }
  }
}
