// Main Colors
$main-color: #e4c590;
$section-color: #0e0d0c;
$gray-color: #161718;
$secondary-color: #a6a6a6;
$special-font: "Forum", cursive;
// transitions
$main-transition: 0.3s;
// Main Padding
$main-padding: 100px;
